.hidden-label-button {
    max-width: 42px;
    overflow: hidden;
    white-space: nowrap;
    transition: all 1s ease !important;
}

.hidden-label-button:hover {
    max-width: 400px;
    transition-delay: 0.15s !important;
}

.hidden-label-button span {
    opacity: 0;
    transition: all 1s ease;
}

.hidden-label-button:hover span {
    opacity: 1;
    display: inline;
    transition-delay: 0.15s !important;
}
