.vscode/**
.vscode-test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/*.map
**/*.ts
**/.vscode-test.*

# Source files
src/**
webview-ui/**
algorithm/**

# tsconfig
**/tsconfig.json
**/tsconfig.shared.json

# node_modules
node_modules/**
!node_modules/node-gyp-build
!node_modules/tree-sitter
!node_modules/tree-sitter-javascript
!node_modules/tree-sitter-typescript
!node_modules/tree-sitter-python
!node_modules/tree-sitter-java
!node_modules/tree-sitter-cpp

# eslint
**/eslint.config.mjs
**/eslint.config.react.mjs

# esbuild
esbuild.js

# webview entrypoint
index.html
