:root {
    /* Main colors*/
    --app-blue: 13, 110, 253;
    --app-pink: 224, 0, 161;
    --app-green: 0, 138, 0;
    --app-yellow: 255, 196, 0; /* Use black text */
    --app-orange: 255, 102, 0; /* Use black text */
    --app-cyan: 0, 223, 255; /* Use black text */
    --app-red: 235, 0, 39;
    --app-purple: 141, 0, 255;

    /* Monochromes */
    --app-white: 255, 255, 255;
    --app-black: 34, 34, 34;

    /* Other colors */
    --app-highlighter-yellow: 253, 255, 50;
}

