:root {
  font-family: Roboto Slab, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Merging styles between ReactFlow & Bootstrap */
  --xy-node-border-radius: var(--bs-border-radius);
}

html,
body,
#root {
  margin: 0;
}

#root {
  height: 100vh;
  height: 100vh;
}

/* Font sizes */
.fs-7 {
    font-size: 0.85rem;
}

.fs-8 {
    font-size: 0.6rem;
}

/* Background colors */
.bg-charcoal {
    background-color: var(--app-black)
}

.bg-highlighter {
    background-color: var(--app-highlighter-yellow);
}

/* Generic hover effects */
.cursor-pointer:hover {
    cursor: pointer;
}
